@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

/* Menu */
.menu {
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  min-height: 60px;
  background-color: #000000;
  position: fixed;
  border-bottom: 1px solid #e6e6e6;
  padding: -0.5rem;
}

.menu-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  width: 40px;
  height: 3px;
  margin-right: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  display: none;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-13px);
}

.menu-btn__burger::after {
  transform: translateY(13px);
}

.menu-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
  list-style: none;
  width: 75%;
}

.menu-items {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1.5em;
  align-items: baseline;
}

.menu-item {
  margin: 0.667em 1em;
}

.logo {
  display: flex;
  width: 5em;
  height: 3.8rem;
  margin: 0 0 0 1em;
  width: 15%;
}

.img {
  vertical-align: middle;
  border-style: none;
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* ----- Media Queries ----- */

@media (max-width: 700px) {
  .text-white {
    color: #fafafa;
    font-family: Montserrat;
    font-size: 0.9rem !important;
    font-weight: bold;
  }

  .menu-btn__burger {
    display: block;
  }

  .menu-items {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    margin: 0.23em 0.56em;
  }

  .menu-links {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .menu-links.show {
    display: flex;
  }

  .logo {
    width: 80%;
  }

  .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 428px) {
  .menu-links {
    display: none;
  }
}

.text-white {
  color: #fafafa;
  font-family: Montserrat;
  font-size: 1.1rem;
  font-weight: bold;
}

ul#menu {
  list-style: none;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

li:last-of-type {
  background-color: #007bff;
  border-radius: 100px;
  border: 5px;
  border-color: #007bff;
  padding: 13px 13px;
}

li:last-of-type:hover {
  background-color: #003166;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  box-shadow: 0 0px 25px 0 rgb(255, 240, 240);
}

/* Header */

.header {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;

  position: relative;
  word-wrap: break-word;

  background-image: url("../img/bg1.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.container {
  display: flex;
  margin: auto;
  align-items: center;
  padding: 0 100px 0 100px;
}

.textos-seccion {
  font-size: 1.4rem;
  line-height: 1.3;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  color: #232323;
  text-align: center;
}

.titulos {
  font-size: 3rem;
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  width: 90%;
}

.titulos-secundarios {
  font-size: 1.8rem;
  line-height: 1.1;
  font-family: Poppins;
  font-weight: 900;
  text-align: left;
  width: 90%;
  margin: 15px 15px 0 10px;
  white-space: nowrap;
}

.subtitulos-secundarios {
  font-size: 1rem;
  line-height: 1.1;
  font-family: Poppins;
  text-align: left;
  width: 100%;
  margin: 15px 0 15px 10px;
  color: #818181;
}

/* Services */
.services {
  text-align: center;
  align-items: center;
  background-color: rgb(18, 114, 114);
  min-height: 10em;
  padding: 2.5em 0 2.5em 0;

  background-image: url("../img/bg2.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.3s;
  border-radius: 20px;
  padding: 0px 0px 10px 0px;
  margin: 4.5em 10px 10px 10px;
}

img.img {
  border-radius: 20px 20px 0 0;
}

.card-container {
  padding: 2px 4px;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Poppins;
  text-align: left;
  width: 90%;
  margin: 15px 15px 5px 10px;
  color: #000000;
}

/* Clientes */

.customers {
  text-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  min-height: 10em;
  padding: 3.5em 0 0 0;
}

.container-customers {
  display: block;
  margin: auto;
  align-items: center;
  padding: 0 100px 0 100px;
}

.container-brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  margin: 50px 15px 0 15px;
}

.customer-brands {
  transition: all 0.3s;
  height: fit-content;
  padding: 0.5rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
}

.brands {
  width: 180px;
  margin: 0 1.4rem;
  display: block;
}

/* About Us  */
.about {
  align-items: center;
  background-color: rgb(146, 146, 146);
  min-height: 10em;
  padding: 4.5em 0 3em 0;

  background-image: url("../img/bg3.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -1; */
}

.about-title {
  margin: 0 0 2em 2em;
  line-height: 1.6;
}

.about-pic {
  width: 25em;
  height: 14em;
  padding: 0 1em 0 0;
}

/* About Us  */
.footer {
  display: block !important;

  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: bolder;

  align-items: center;
  background-color: #353535;
  min-height: 5em;
  padding: 3.5em 0 0 0;
}

.contact-container {
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}

.contact {
  display: flex;
  align-items: center;
  text-align: center;
  height: 13em;
  justify-content: space-around;
  padding: 5em 3.5em 0 3.5em;
}

.btn-contact {
  width: 8em;
  background-color: #007bff;
  padding: 0.8em;
  margin: 1em;
  border-radius: 30px;

  font-family: Montserrat;
  font-size: 2em;
  color: #ffffff;

  justify-content: space-around;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.btn-contact:hover {
  transition: ease-in-out 0.5s;
  background-color: #003166;
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.2);
}
